body {background-color: #f2f0f0;}
.progress-bar-purple {background-color: #700d7b;}
.wrapper {
    margin: 0 auto;
    height: 100vh;
    max-width: 540px;
}
.apperance .back-btn {
    padding: 15px 20px;
    background-color: #159B3E;
}
.apperance .back-btn a {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.apperance .header {
    padding: 1em 0 3em;
    background-color: #0F7B30;
}
.apperance .detail-apperance {
    background-color: white;
    border-radius: 5px;
}
.apperance .detail-apperance ul {
    padding: 0 1em;
    margin: 0;
    list-style: none;
}
.apperance .detail-apperance .progress {
    height: 8px;
    margin-top: 2px;
}